USE [master]
GO
/****** Object:  Database [user30]    Script Date: 03.10.2023 14:42:46 ******/
CREATE DATABASE [user30]
GO
USE [user30]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[EventsId] [int] NOT NULL,
	[Activity] [nvarchar](150) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [tinyint] NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdjucatorActivity]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjucatorActivity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AdjucatorActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Title] [nvarchar](100) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] NOT NULL,
	[RussianTitle] [nvarchar](100) NOT NULL,
	[EnglishTitle] [varchar](100) NOT NULL,
	[LetterCode] [varchar](2) NOT NULL,
	[Code] [smallint] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[Title] [nvarchar](150) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Event] [nvarchar](250) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeName] [nvarchar](150) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Gender] [nvarchar](15) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Title] [nvarchar](50) NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[RoleId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[PhoneNumber] [varchar](16) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](250) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDirection]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDirection](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DirectionId] [int] NOT NULL,
	[EventTypeId] [int] NULL,
 CONSTRAINT [PK_UserDirection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Winners]    Script Date: 03.10.2023 14:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Winners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EventsId] [int] NOT NULL,
 CONSTRAINT [PK_Winners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([EventsId], [Activity], [Id], [Day], [StartTime], [UserId]) VALUES (3, N'Лидерство в бизнесе', 1, 1, CAST(N'09:00:00' AS Time), 1)
INSERT [dbo].[Activity] ([EventsId], [Activity], [Id], [Day], [StartTime], [UserId]) VALUES (3, N'Технология принятия решений', 2, 2, CAST(N'10:45:00' AS Time), 2)
INSERT [dbo].[Activity] ([EventsId], [Activity], [Id], [Day], [StartTime], [UserId]) VALUES (3, N'Искусство коучинга', 3, 2, CAST(N'12:30:00' AS Time), 3)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[AdjucatorActivity] ON 

INSERT [dbo].[AdjucatorActivity] ([Id], [ActivityId], [UserId]) VALUES (1, 1, 22)
INSERT [dbo].[AdjucatorActivity] ([Id], [ActivityId], [UserId]) VALUES (2, 2, 23)
INSERT [dbo].[AdjucatorActivity] ([Id], [ActivityId], [UserId]) VALUES (3, 3, 24)
GO
SET IDENTITY_INSERT [dbo].[AdjucatorActivity] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Title], [Id]) VALUES (N'Абаза', 1)
INSERT [dbo].[City] ([Title], [Id]) VALUES (N'Абакан', 2)
INSERT [dbo].[City] ([Title], [Id]) VALUES (N'Абдулино', 3)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[Country] ([Id], [RussianTitle], [EnglishTitle], [LetterCode], [Code]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([Id], [RussianTitle], [EnglishTitle], [LetterCode], [Code]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([Id], [RussianTitle], [EnglishTitle], [LetterCode], [Code]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Direction] ON 

INSERT [dbo].[Direction] ([Title], [Id]) VALUES (N'ИТ', 1)
INSERT [dbo].[Direction] ([Title], [Id]) VALUES (N'Биг Дата', 2)
INSERT [dbo].[Direction] ([Title], [Id]) VALUES (N'Дизайн', 3)
SET IDENTITY_INSERT [dbo].[Direction] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Event], [Id], [Date], [Day], [CityId]) VALUES (N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', 1, CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[Events] ([Event], [Id], [Date], [Day], [CityId]) VALUES (N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', 2, CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[Events] ([Event], [Id], [Date], [Day], [CityId]) VALUES (N'Встреча клуба «Leader stories»: Мотивирующее руководство ', 3, CAST(N'2023-11-09' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeName], [Id]) VALUES (N'IT в бизнесе', 1)
INSERT [dbo].[EventType] ([EventTypeName], [Id]) VALUES (N'Разработка приложений', 2)
INSERT [dbo].[EventType] ([EventTypeName], [Id]) VALUES (N'IT-инфраструктура', 3)
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Gender], [Id]) VALUES (N'мужской', 1)
INSERT [dbo].[Gender] ([Gender], [Id]) VALUES (N'женский', 2)
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
INSERT [dbo].[Role] ([Title], [Id]) VALUES (N'Модератор', 1)
INSERT [dbo].[Role] ([Title], [Id]) VALUES (N'Жюри', 2)
INSERT [dbo].[Role] ([Title], [Id]) VALUES (N'Организатор', 3)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Surname], [Name], [Patronymic], [RoleId], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo]) VALUES (N'Царева', N'Виктория', N'Давидовна', 1, 1, 2, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'75671037332', N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[User] ([Surname], [Name], [Patronymic], [RoleId], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo]) VALUES (N'Зорин', N'Дмитрий', N'Маркович', 1, 2, 1, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'7796440106', N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[User] ([Surname], [Name], [Patronymic], [RoleId], [Id], [GenderId], [Email], [DateOfBirth], [CountryId], [PhoneNumber], [Password], [Photo]) VALUES (N'Зотова', N'Анна', N'Тимуровна', 1, 3, 2, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'74886431998', N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserDirection] ([Id], [UserId], [DirectionId], [EventTypeId]) VALUES (1, 1, 1, 1)
INSERT [dbo].[UserDirection] ([Id], [UserId], [DirectionId], [EventTypeId]) VALUES (2, 2, 1, 1)
INSERT [dbo].[UserDirection] ([Id], [UserId], [DirectionId], [EventTypeId]) VALUES (3, 3, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[Winners] ON 

INSERT [dbo].[Winners] ([Id], [UserId], [EventsId]) VALUES (1, 42, 1)
INSERT [dbo].[Winners] ([Id], [UserId], [EventsId]) VALUES (2, 43, 2)
INSERT [dbo].[Winners] ([Id], [UserId], [EventsId]) VALUES (3, 44, 3)
SET IDENTITY_INSERT [dbo].[Winners] OFF
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_User]
GO
ALTER TABLE [dbo].[AdjucatorActivity]  WITH CHECK ADD  CONSTRAINT [FK_AdjucatorActivity_Activity] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activity] ([Id])
GO
ALTER TABLE [dbo].[AdjucatorActivity] CHECK CONSTRAINT [FK_AdjucatorActivity_Activity]
GO
ALTER TABLE [dbo].[AdjucatorActivity]  WITH CHECK ADD  CONSTRAINT [FK_AdjucatorActivity_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AdjucatorActivity] CHECK CONSTRAINT [FK_AdjucatorActivity_User]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_City]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Country]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserDirection]  WITH CHECK ADD  CONSTRAINT [FK_UserDirection_Direction] FOREIGN KEY([DirectionId])
REFERENCES [dbo].[Direction] ([Id])
GO
ALTER TABLE [dbo].[UserDirection] CHECK CONSTRAINT [FK_UserDirection_Direction]
GO
ALTER TABLE [dbo].[UserDirection]  WITH CHECK ADD  CONSTRAINT [FK_UserDirection_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([Id])
GO
ALTER TABLE [dbo].[UserDirection] CHECK CONSTRAINT [FK_UserDirection_EventType]
GO
ALTER TABLE [dbo].[UserDirection]  WITH CHECK ADD  CONSTRAINT [FK_UserDirection_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserDirection] CHECK CONSTRAINT [FK_UserDirection_User]
GO
ALTER TABLE [dbo].[Winners]  WITH CHECK ADD  CONSTRAINT [FK_Winners_Events] FOREIGN KEY([EventsId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Winners] CHECK CONSTRAINT [FK_Winners_Events]
GO
ALTER TABLE [dbo].[Winners]  WITH CHECK ADD  CONSTRAINT [FK_Winners_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Winners] CHECK CONSTRAINT [FK_Winners_User]
GO
USE [master]
GO
